<template>
    <div>
        <h1>Not Found</h1>
        <p>Oops we couln't find that page. Try going
        <router-link :to="{name: 'name'}">home</router-link>
        </p>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>